<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <LINK rel="Bookmark" href="/static/admin//favicon.ico" >
    <LINK rel="Shortcut Icon" href="/static/admin/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/admin/lib/html5.js"></script>
    <script type="text/javascript" src="/static/admin/lib/respond.min.js"></script>
    <script type="text/javascript" src="/static/admin/lib/PIE_IE678.js"></script>

    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/css/H-ui.login.css"  />
    <link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/lib/Hui-iconfont/1.0.7/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/lib/icheck/icheck.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/lib/My97DatePicker/skin/WdatePicker.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>

    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
<link rel="stylesheet" type="text/css" href="/static/admin/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" >
<title>信息查询</title>
    <script type="text/javascript" src="/static/admin/lib/layer/2.1/layer.js"></script>
    <script type="text/javascript" src="/static/admin/static/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="/static/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="/static/admin/charts/echarts.min.js"></script>
</head>


<body>
<!--  nav 栏-->
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    首页 <span class="c-gray en">&gt;</span>
    平台数据统计 <span class="c-gray en">&gt;</span>
    信息查询
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>

<br>
<!-- 收索栏-->
<form action="{:url('statistics/search')}" method="post" >
<div class="text-c"> 学校名称：
    <input type="text" class="input-text" style="width:250px" placeholder="学校名称" id="" name="school_name">
    <button type="submit" class="btn btn-success radius" id="search" name=""  ><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</div>
</form>

<div class="page-container">


    <!--基本信息 -->
    <div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">基本信息  </div>
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">

                <th width="40">平台类型</th>
                <th width="40">批准部门</th>
                <th width="40">学校名称</th>
                <th width="40">平台定位</th>
                <th width="40">平台负责人</th>
                <th width="40">网站名称</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c">

                <td>类型</td>
                <td>批准部门</td>
                <td>学校名称</td>
                <td>平台定位</td>
                <td>平台负责人</td>
                <td>网站名称</td>

            </tr>
            </tbody>
        </table>
    </div>



    <!--研究方向 -->
    <div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">研究方向 </div>
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">

                <th width="40">方向负责人</th>
                <th width="100">负责人简介</th>
                <th width="40">研究方向</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c">

                <td>负责人</td>
                <td>简介</td>
                <td>研究方向</td>

               </tr>
            </tbody>
        </table>
    </div>




    <!-- 承担企业和国家研究课题 -->

    <div class="mt-20">
        <div class="cl pd-5 bg-1 bk-gray mt-20">承担企业和国家研究课题 </div>
        <div id="project-container" style="min-width:700px;height:400px"></div>
    </div>



    <!--三大检索论文 -->

    <div class="mt-20">
        <div class="cl pd-5 bg-1 bk-gray mt-20">三大检索论文次数 </div>
        <div id="index-container" style="min-width:700px;height:400px"></div>
    </div>

    <!--获奖情况 -->

    <div class="mt-20">
        <div class="cl pd-5 bg-1 bk-gray mt-20">获奖情况汇总</div>
        <div id="award-container" style="min-width:400px;height:400px"></div>
    </div>

    <!--科技成果转让孵化 -->

    <div class="mt-20">
        <div class="cl pd-5 bg-1 bk-gray mt-20">科技成果转让孵化汇总</div>
        <div id="transfer-container" style="min-width:600px;height:400px"></div>

    </div>


    <!--开放学术交流    -->

    <div class="mt-20">

         <div class="cl pd-5 bg-1 bk-gray mt-20">开放学术交流</div>
            <div  class="cl pd-5  mt-25">
                <!-- 审批开放课题汇总 -->
                <div  id="approval-container" style="min-width:450px;height:300px; margin-left:50px;float:left"></div>
                <!-- 学术交流会议汇总 -->
                <div  id="academic-container" style="min-width:450px;height:300px;margin-right:50px;float:right"></div>
            </div>
    </div>

    <!--人才培养情况 -->

    <div class="mt-20" >
        <div class="cl pd-5 bg-1 bk-gray mt-20">人才培养情况汇总</div>
        <div id="training-container" style="min-width:600px;height:400px"></div>
    </div>


    <!--研究队伍情况 -->

    <div class="mt-20">
        <div class="cl pd-5 bg-1 bk-gray mt-20">研究队伍情况汇总</div>
        <div id="team-container" style="min-width:600px;height:400px"></div>
    </div>


    <!--其他信息  -->

    <!-- 重点学科表 -->

    <!--<div class="mt-20">-->
        <!--<div class="cl pd-5 bg-1 bk-green mt-20">重点学科树 </div>-->
        <!--<table class="table">-->
            <!--<tr>-->
                <!--<td width="200" class="va-t"><ul id="treeDemo" class="ztree"></ul></td>-->
                <!--<td class="va-t"><IFRAME ID="testIframe" Name="testIframe" FRAMEBORDER=0 SCROLLING=AUTO width=100%  height=390px SRC="discipline.html"></IFRAME></td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->


</div>


<script type="text/javascript" src="/static/admin/charts/search-echarts.js"></script>
<script type="text/javascript" src="/static/admin/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>




<script type="text/javascript">
    var setting = {
        view: {
            dblClickExpand: false,
            showLine: false,
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable:true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: ""
            }
        },
        callback: {
            beforeClick: function(treeId, treeNode) {
                var zTree = $.fn.zTree.getZTreeObj("tree");
                if (treeNode.isParent) {
                    zTree.expandNode(treeNode);
                    return false;
                } else {
                    demoIframe.attr("src",treeNode.file + ".html");
                    return true;
                }
            }
        }
    };

    var zNodes =[
        { id:1, pId:0, name:"重点学科", open:true},
        { id:11, pId:1, name:"一级重点学科"},
        { id:111, pId:11, name:"学科1"},
        { id:112, pId:11, name:"学科2"},
        { id:113, pId:11, name:"二级重点学科"},
        { id:115, pId:113, name:"学科1"},

    ];

    var code;

    function showCode(str) {
        if (!code) code = $("#code");
        code.empty();
        code.append("<li>"+str+"</li>");
    }

    $(document).ready(function(){
        var t = $("#treeDemo");
        t = $.fn.zTree.init(t, setting, zNodes);
        demoIframe = $("#testIframe");
        demoIframe.bind("load", loadReady);
        var zTree = $.fn.zTree.getZTreeObj("tree");
        zTree.selectNode(zTree.getNodeByParam("id",'11'));
    });
</script>


</body>


</html>
